[submodule "submodules/fmt"]
	path = submodules/fmt
	url = https://github.com/fmtlib/fmt.git
[submodule "submodules/spdlog"]
	path = submodules/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "submodules/minhook"]
	path = submodules/minhook
	url = https://github.com/TsudaKageyu/minhook.git
[submodule "submodules/Vulkan-Headers"]
	path = submodules/Vulkan-Headers
	url = https://github.com/KhronosGroup/Vulkan-Headers.git
[submodule "submodules/robin-hood-hashing"]
	path = submodules/robin-hood-hashing
	url = https://github.com/martinus/robin-hood-hashing.git
