bin/
build/
metadata/
config.cmake
NMS.exe

/.vscode/*
/.vs/*
/.cache/*

# @RayRod, Sorry for accidentally pushing some of your assets.
# It makes a folder in the root of the project when we use Heridium
# and sometimes we forget to remove it.
RayRod's Multiverse/

# Documentation
docs/doxygen/*
docs/_build/*
docs/api/*
/CMakeSettings.json
