[submodule "submodules/fmt"]
	path = submodules/fmt
	url = https://github.com/fmtlib/fmt.git
[submodule "submodules/spdlog"]
	path = submodules/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "submodules/Vulkan-Headers"]
	path = submodules/Vulkan-Headers
	url = https://github.com/KhronosGroup/Vulkan-Headers.git
[submodule "submodules/robin-hood-hashing"]
	path = submodules/robin-hood-hashing
	url = https://github.com/martinus/robin-hood-hashing.git
[submodule "compile_only"]
	path = submodules/spdlog
	url = https://github.com/gabime/spdlog
[submodule "submodules/PolyHook2_0"]
	path = submodules/PolyHook2_0
	url = https://github.com/stevemk14ebr/PolyHook_2_0.git
[submodule "submodules/libSceFios2"]
	path = submodules/libSceFios2
	url = https://github.com/VITALISED/libSceFios2.git
[submodule "submodules/inifile-cpp"]
	path = submodules/inifile-cpp
	url = https://github.com/Rookfighter/inifile-cpp.git
[submodule "submodules/VulkanMemoryAllocator"]
	path = submodules/VulkanMemoryAllocator
	url = https://github.com/GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator.git
[submodule "submodules/stb"]
	path = submodules/stb
	url = https://github.com/nothings/stb.git
[submodule "submodules/rang"]
	path = submodules/rang
	url = https://github.com/agauniyal/rang.git
[submodule "submodules/pybind11"]
	path = submodules/pybind11
	url = https://github.com/pybind/pybind11.git
[submodule "submodules/rapidxml"]
	path = submodules/rapidxml
	url = https://github.com/timniederhausen/rapidxml
[submodule "submodules/rapidjson"]
	path = submodules/rapidjson
	url = https://github.com/Tencent/rapidjson.git
[submodule "submodules/hgnanoflann"]
	path = submodules/hgnanoflann
	url = https://github.com/VITALISED/hgnanoflann.git
